body {
    margin: 0;
}

a {
    text-decoration: none;
}

.wrap-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@media (width < 767px) {

    .tablet-view,
    .text-tablet,
    .text-desktop,
    .slide-menu .desktop,
    .title-block .desktop-menu {
    display: none;
    }

    .upper-menu {
        display: flex;
        flex-direction: row;
        height: 88px;
        align-items: center;
        width: 100%;
    }

    .slide-menu {
        flex-wrap: nowrap;
    }
 }

@media (min-width: 768px) and (max-width: 1119px) {    

    .tablet-view
     {
        display: flex;
        flex-direction: row;
    }

    .upper-menu {
        justify-content: space-between;
    }

    .bottom-menu {
        display: flex;
        flex-direction: row;
    }

    .desktop,
    .title-block .desktop-menu,
    .slide-menu .desktop {
        display: none;
    }

    .text-block,
    .main-photo {
        width: 50%;
        margin-right: 40px;
    }

    .upper-menu {
        display: flex;
        flex-direction: row;
        height: 88px;
        align-items: center;
        width: 100%;
    }

    .slide-menu {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1120px) {
    .text-tablet,
    .upper-menu,
    .slide-menu .tablet {
        display: none;
    }

    .text-desktop {
        display: block;
    } 

    .slide-men-button1 > .button-active {
        border: 0px;
    }

    .slide-menu {
        flex-wrap: wrap;
    }

    .text-block,
    .main-photo {
        width: 50%;
        margin-right: 40px;
    }

    .bottom-menu {
        display: flex;
        flex-direction: row;
    }
}

.title-block,
.desktop-menu .feedback-button,
.desktop-menu .checkstatus-button,
.desktop-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.feedback-button-text,
.checkstatus-button-text {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-right: 8px;
}

.feedback-button,
.checkstatus-button {
    margin-right: 32px;
}

.divider {
    margin-right: 20px;
    margin-left: 4px;
}

.upper-right-menu,
.upper-left-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.icon {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.logo {
    width: 97px;
    height: 51px;
    margin-right: 39px;
}

.burger {
    margin-left: 16px;
}

.title {
    height: 40px;
    margin-top: 24px;
    color: #1B1C21;
    font-size: 28px;
    font-family: TT Lakes;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    background-image: url(img/icons/highlight.png);
    background-position-x: left;
    background-repeat: no-repeat;
    text-indent: 16px;
    width: 100%;
}

.slide-menu {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: auto;
    align-items: flex-start;
}

.slide-menu::-webkit-scrollbar {
    width: 0;
  }

button:hover {
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background: #FFF;
    align-items: center;
    margin-left: 16px;

    width: 242px;
    height: 40px;
    flex-shrink: 0;

    display: flex;
    vertical-align: middle;
    justify-content: center;
}

button {
    background: #FFF;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    height: 40px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-wrap: nowrap;
    size-adjust: 100%;
    white-space: nowrap;
}

.text-buttons {
    color: #7E7E82;
    font-size: 16px;
    font-family: TT Lakes;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}


.text-tablet, 
.text-desktop {
    margin-left: 16px;
    margin-right: 16px;
    width: 100%;
}


.bottom-menu {
    margin-top: 16px;
    width: 100%;
}

.text {
    color: #1B1C21;
    font-size: 14px;
    font-family: TT Lakes;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.text-basic {
    margin-left: 16px;
    margin-right: 16px;
    width: 100%;
    height: 90px;
}

.read-button {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    height: 24px;
    width: 132px;

    color: #1B1C21;
    font-size: 16px;
    font-family: TT Lakes;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;

    background-image: url(img/icons/expand.png);
    background-position-x: left;
    background-repeat: no-repeat;

    text-indent: 32px;
}

.main-photo img {
    border-radius: 5px 5px 5px 5px;

    width: 100%;
    justify-self: end;
}